version: '2'
services:
  gitlab:
    image: docker.io/gitlab/gitlab-ce:10.6.3-ce.0
    restart: always
    hostname: '172.25.117.130'
    ports:
      - "443:443"
      - "80:80"
      - "8082:22"
    volumes:
      - ${BASE}/gitlab/etc:/etc/gitlab:Z
      - ${BASE}/gitlab/log:/var/log/gitlab:Z
      - ${BASE}/gitlab/opt:/var/opt/gitlab:Z
  jenkins:
    image: docker.io/jenkins/jenkins:2.115
    restart: always
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - "${BASE}/jenkins:/var/jenkins_home:Z"
  artifactory:
    image: docker.bintray.io/jfrog/artifactory-oss:5.10.1
    restart: always
    ports:
      - "8081:8081"
    volumes:
      - ${BASE}/artifactory:/var/opt/jfrog/artifactory:Z
  mysql:
    image: mysql:5.7.19
    restart: always
    ports:
      - "3306:3306"
    volumes:
      - ${BASE}/mysql:/var/lib/mysql:Z
      - ${BASE}/mysql_conf:/etc/mysql/conf.d:Z
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
  sonarqube:
    image: sonarqube:7.0
    restart: always
    links:
      - mysql
    ports:
      - "9000:9000"
      - "9092:9092"
    volumes:
      - ${BASE}/sonarqube:/opt/sonarqube/data:Z
    environment:
      - SONARQUBE_JDBC_USERNAME=${MYSQL_USER}
      - SONARQUBE_JDBC_PASSWORD=${MYSQL_PASSWORD}
      - SONARQUBE_JDBC_URL=jdbc:mysql://mysql:3306/${MYSQL_DATABASE}?useUnicode=true&characterEncoding=utf8&rewriteBatchedStatements=true&useConfigs=maxPerformance&useSSL=false

